*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* font-family: "Happy Monkey", sans-serif */
    font-family: Michroma, sans-serif;
}

/* CENTRATORE CALCOLATRICE */
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* SEZIONI CALCOLATRICE */
.calcolatrice{
    background-color: lightgray;
    border-radius: 2%;
    box-shadow: 3px 3px #979696;

}

/* SEZIONE TOP */
.top{
    display: flex;
    justify-content: center;
}

.marca{
    padding: 20px 0;
    font-size: 50px;
}

/* SEZIONE SCHERMO */
.schermo{
    font-family: 'Seven Segment', sans-serif;
    background-color: black;
    height: 15%;
    color: green;
    text-align: right;
}

.digit{
    display: inline-block ;
    padding: 20px 0;
    font-size: 50px;
}

/* TASTIERA */
.tastiera{
    margin: 20px;
    display: flex;
}

.tasti-piccoli{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.tasti-grandi{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* PROPRIETà TASTI */
.grigio{
    background-color: grey;
}

.arancio{
    background-color: orange;
}

.azzurro{
    background-color: aqua;
}

.bianco{
    color: white;
}

.grande{
    border-radius: 2%;
    font-size: 30px;
    width: 80px;
    height: 80px;
    flex-wrap: wrap;
}

.piccolo{
    border-radius: 2%;
    font-size: 30px;
    width: 70px;
    height: 60px;
}

.tasto{
    margin: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px #979696;
}

/* CRESCITA TASTO 0 */

#zero{
    flex-grow: 2;
    width: 180px;
}