*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CONTENITORE CALCOLATRICE */
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* SEZIONI CALCOLATRICE */
.calcolatrice{
    background-color: lightgray;
    border-radius: 2%;
}

.top{
    height: 20%;
}

.schermo{
    background-color: black;
    height: 15%;
    color: green;
    margin-bottom: 5%;
}

/* TASTIERA */
.tastiera{

}

.tasti-piccoli{
    align-items: end;
}

.tasti-grandi{
    width: 80%;
    height: 100%;
}

/* PROPRIETà TASTI */
.grigio{
    background-color: grey;
}

.arancio{
    background-color: orange;
}

.azzurro{
    background-color: aqua;
}

.grande{
    border-radius: 2%;
    font-size: 30px;
    margin: 8px;
    width: 80px;
    height: 80px;
    flex-wrap: wrap;
}

.piccolo{
    border-radius: 2%;
    font-size: 30px;
    margin: 8px;
    width: 70px;
    height: 60px;
}



/* PROPRIETà FLEX */
.d-flex{
    display: flex;
}

.j-content-center{
    justify-content: center;
}

.a-item-center{
    align-items: center;
}

.f-direction-column{
    flex-direction: column;
}

.f-direction-column-reverse{
    flex-direction: column-reverse;
}

.f-direction-row{
    flex-direction: row;
}

.f-direction-row-reverse{
    flex-direction: row-reverse;
}